/****** Fonts ******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Righteous&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Righteous', cursive;
*/

h1, h2, h3, h4, h5, body, nav, a, p, ul ,li,
input, select, button, article, section, footer{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}

/****** Typography Defaults ******/
html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 1px;
    background-color: #F9F5D8;
}

/* Header */
header nav a, footer nav a{
    font-size: 1.4rem;
    display: inline-block;
    margin: 10px 25px;
}

li:not(footer section li, aside li){
    display: inline-block;
}

h1{
    background-image: url("images/kosmetik_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Righteous", cursive;
    font-size: 3rem;
}

#currency{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    font-family: Montserrat, sans-serif;
    background-color: #223844;
    border: none;
    margin: 0 10px 50px 10px;
}
#blackBox a img{
    width: 40px;
    height: auto;
}
aside section a, header nav a{
    font-weight: 600;
}

h2:not(footer h2){
    font-family: "Righteous", cursive;
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

main li:nth-of-type(2):not(aside li){
    color: red;
}

main select{
    font-family: "Montserrat", sans-serif;
    background-color: #E74D7E;
    height: 40px;
    width: 225px;
    margin-left: 5px;
}
main label{
    margin-left: 400px;
}

article h3 a{
    font-size: 1.6rem;
    font-weight: 600;
}
h3 button, footer h2{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    letter-spacing: 1px;
}
aside li{
    font-size: 1.4rem;
    border-bottom: dashed 1px;
    max-width: 150px;
    margin: 0 0 20px 50px;
    list-style-type: disc;
    list-style-position: inside;
}
aside ul li:nth-last-of-type(1){
    border: none;
}

section li p, article p:nth-of-type(1){
    font-size: 1.6rem;
    color: red;
    font-weight: 600;
}

footer section li, footer section address{
    font-size: 1.4rem;
    margin: 0 50px 20px 50px;
}

img{
    max-width: 250px;
    height: auto;
}

#topBar, input{
    background-color: #E74D7E;
    color: #E3B49D;
}

#blackBox{
    background-color: #223844;
    color: #F9F5D8;
}

#headingTwo{
    background-image: url("images/kos_banner.jpg");
    background-repeat: no-repeat;
    color: #F9F5D8;
    padding: 60px 10px;
    text-align: center;
}
footer{
    background-color: #223844;
    color: #F9F5D8;
}
footer h2{
    color: #437851;
    padding-top: 10px;
    margin: 0 50px 20px 50px;
}
#mainPhoto{
    display: block;
    margin: 40px auto;
    max-width: 100%;

}

button:not(section button){
    width: 40px;
    height: 40px;
    background-color: #E74D7E;
    background-repeat: no-repeat;
    margin: 10px 0 0 10px;
    border: none;
}

aside button{
    border: none;
    width: 200px;
    height: 30px;
    background: linear-gradient(90deg, #E74D7E, #F9F5D8);
    color: #F9F5D8;
    margin: 0px 25px 20px 50px;
}

#topBar img{
    width: 15px;
    height: auto;
    margin: 5px;
}
#blackBox ul{
    text-align: center;
    text-transform: uppercase;
}

main article{
    max-width: 1000px;
    margin: 2rem auto 2rem auto;
    padding: 1rem;
}

footer li img{
    max-width: 2.5rem;
    margin: .5rem;
}

aside img{
    width: 10rem;
}