/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

/* CSS Reset =========================== */
body, nav, section, footer, article, 
h1, h2, h3, p, a, ul, li, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
} 

/* Typography Defaults ================= */
html{
	font-size: 62.5%
}

body{
	line-height: 1.6;
	font: 1.4rem 'Raleway', sans-serif;
	color: #e1c2a3;
	background: #020429;
}

h1, h2{
	line-height: 1;
	font-family: 'Amiri', serif;
	color: #f3d8c3;
}
h1{
	font-size: 7rem;
	margin: 2rem 0 4rem 0;
}
h2{
	font-size: 2.6rem;
	margin: 2rem 0 1rem 0;
}
h3{
	font-size: 1.6rem;
	color: #8de4ff;
	margin-bottom: 1rem;
}
p{
	margin-bottom: 2rem;
}
img{
	display: block;
	min-height: 15rem;
	background: rgba(255,255,255, .1);
}
a{
	display: inline-block;
	padding: .5rem 1rem;
	background: rgba(255,255,255,.1);
	color: #8de4ff;
}
a:not(nav a, #tags a){
	background: radial-gradient(circle, rgba(225,194,163,1) 0%, rgba(227,99,151,1) 100%);
	color: #020429;
}

/* Default Structure =================== */
nav, body > section, footer{
	max-width: 100rem;
	margin: 0 auto;
	padding: 3rem;
	/*Outline: 2px solid darkgoldenrod;*/
}
body > section{
	border-bottom: 1px solid rgba(255,255,255,.1);
}
body > section::after{
	content: "";
	display: block;
	clear: both;
}
footer::after{
	content: "";
	display: block;
	clear: both;
}

/* Header ============================== */
header{
	background-image: url("../images/presence-ii.png");
}
nav a{
	color: #020429;
}
#logo{
	display: inline-block;
	width: 10rem;
	min-height: 3rem;
	background: rgba(0,0,0,.2);
}
nav li{
	display: inline-block;
}
/* Blog ================================ */
#blog article:nth-of-type(1), #blog article:nth-of-type(4){
	border-top: .5rem solid #e74c3c;
}
#blog article:nth-of-type(2), #blog article:nth-of-type(5){
	border-top: .5rem solid #f1c40f;
}
#blog article:nth-of-type(3), #blog article:nth-of-type(6){
	border-top: .5rem solid #1abc9c;
}

#blog article{
	width: calc(100%/3 - 2rem);
	float: left;
}
#blog article:not(:nth-of-type(3), :nth-of-type(6)){
	margin-right: 2rem;
}
#blog article:nth-of-type(4){
	clear: left;
}
/* News ================================ */
time span{
	font-size: 5rem;
	color: #8de4ff;
	vertical-align: middle;
}
#news article{
	width: calc(100%/4 - 6rem/4);
	float: left;
}
#news article:not(:nth-of-type(4)){
	margin-right: 2rem;;
}

/* Donation ============================ */
#donation{
	background: url("../images/salvage.gif");
}

/* About ============================== */
#about section{
	width: calc(100%/2 - 2rem);
	float: left;
}
#about section:first-of-type{
	margin-right: 2rem;
}

/* Footer ============================== */
footer h2 {
	font-size: 1.6rem;
	color: #8de4ff;
}
#tags li{
	display: inline-block;
}
#tags a{
	background: #e36397;
	color: #f3d8c3;
	padding: 0 .5rem .25rem .5rem;
}

footer section{
	width: calc(30% - 2rem);
	margin-right: 2rem;
	float: left;
}
#tags{
	width: calc(40%);
	margin-right: 0;
}


/*
EXPAND YOUR KNOWLEDGE
Add to HTML--
--Include an extra paragraph of lorem ipsum to a blog article of your choice.
--Add three more blog articles for a total of six
	|--> DONE <--|
Add to CSS--
--Style the three new blog articles to have the same styling as the others.
--Fix the layout issue caused by the ew blog articles.
	|--> DONE <--|
CSS DOC should include--
--Shorthand properties
--CSS Layout with floats
*/