/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

/* CSS Reset =========================== */
body, nav, section, footer, article, 
h1, h2, h3, p, a, ul, li, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
} 

/* Typography Defaults ================= */
html{
	font-size: 62.5%
}

body{
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
	color: #e1c2a3;
	background-color: #020429;
}

h1, h2{
	line-height: 1;
	font-family: 'Amiri', serif;
	color: #f3d8c3;
}
h1{
	font-size: 7rem;
	margin: 2rem 0 4rem 0;
}
h2{
	font-size: 2.6rem;
	margin: 2rem 0 1rem 0;
}
h3{
	font-size: 1.6rem;
	color: #8de4ff;
	margin-bottom: 1rem;
}
p{
	margin-bottom: 2rem;
}
img{
	display: block;
	min-height: 15rem;
	background: rgba(255,255,255, .1);
}
a{
	display: inline-block;
	padding: .5rem 1rem;
	background-color: rgba(255,255,255,.1);
	color: #8de4ff;
}
a:not(nav a, #tags a){
	background: radial-gradient(circle, rgba(225,194,163,1) 0%, rgba(227,99,151,1) 100%);
	color: #020429;
}

/* Default Structure =================== */
nav, body > section, footer{
	max-width: 100rem;
	margin: 0 auto;
	padding: 3rem;
	/*Outline: 2px solid darkgoldenrod;*/
}
body > section{
	border-bottom: 1px solid rgba(255,255,255,.1);
}

/* Header ============================== */
header{
	background-image: url("../images/presence-ii.png");
}
nav a{
	color: #020429;
}
#logo{
	display: inline-block;
	width: 10rem;
	min-height: 3rem;
	background: rgba(0,0,0,.2);
}
nav li{
	display: inline-block;
}
/* Blog ================================ */
#blog article:nth-of-type(1){
	border-top: .5rem solid #e74c3c;
}
#blog article:nth-of-type(2){
	border-top: .5rem solid #f1c40f;
}
#blog article:nth-of-type(3){
	border-top: .5rem solid #1abc9c;
}

/* News ================================ */
time span{
	font-size: 5rem;
	color: #8de4ff;
	vertical-align: middle;
}

/* Donation ============================ */
#donation{
	background-image: url("../images/salvage.gif");
}

/* Footer ============================== */
footer h2 {
	font-size: 1.6rem;
	color: #8de4ff;
}
#tags li{
	display: inline-block;
}
#tags a{
	background-color: #e36397;
	color: #f3d8c3;
	padding: 0 .5rem .25rem .5rem;
}

/*
Requirements:
|> Colors: DONE
	Include at least 2 new foreground and background colors. (At least 4 total)
		What colors are there and where are they?
		|> Body {c: #777 bgc:#222} DONE
		|> h1, h2{c: #fff}
		|> h3{c: #aaa}
		|> a{c: #eee bgc: rgba(255,255,255,.1)}
		|> header{bgc: #fff}
		|> nav a{c: #555}
		|> #logo{bg: rgba(0,0,0,.2)}
		|> time span{c: #eee}
		|> footer h2{c: #aaa}
		|> #tags a{c: #eee bgc: #e74c3c}
		|> colors: #777, #222, #fff, #aaa, #eee, rgba(255,.1), #555, rgba(0, .2), #e74c3c
	-------------
	|> There are 9 Colors. #EEE and #FFF are white
	Colors: DONE
	|> Body BGC: #020429 C: #E1C2A3
	|> H1, H2 C: #F3D8C3
	|> H3 C: #8DE4FF
	|> A C: #8DE4FF
	|> Nav A C: #020429
	|> Time Span C: #8DE4FF
	|> #Tags A C: #F3D8C3 BGC: #E36397
	|> Footer H2 C: #8DE4FF
	|> A:Not(Nav A, #Tags A) BGC: radial-gradient(circle, rgba(225,194,163,1) 0%, rgba(227,99,151,1) 100%) C: #020429
|> Fonts: DONE
	Include at least 2 new font families. (@import method)
	What fonts are there and where are they?
	|> body{f-f: Open Sans, sans-serif}
	|> h1, h2{f-f: Abel, sans-serif}
	-------------
	|> Serif: Amiri
	|> Sans-Serif: Raleway
	font-family: 'Amiri', serif;
	font-family: 'Raleway', sans-serif;

|> Background Image: DONE
	Include a new background image.
	Where is the background image:
	|> It is in the donation section.
	-------------
	|> image: ../images/salvage.gif | ../images/presence-ii.png

|> Gradients:
	Include a gradient background.
	Where are gradients?
	|> There aren't any. I was thinking of the header bgc,  body bgc, or the read more link buttons.
	-------------
	|> Gradient: A:Not(Nav A, #Tags A) BGC: radial-gradient(circle, rgba(225,194,163,1) 0%

Make sure your CSS doc includes at least the following:
	@import at-rules (this will be google fonts)
	Typography properties (size and font family)
	Background properties (colors and images)
	Selectors like descendant, child, nth-of-type, etc. (All of these are included)
Commit and Push
	Commit and push your completed integrative to your GitHub inside a 'tutorial' directory.
*/


